<div *ngIf="details" class="shadow-2xl">
    <div class="border border-black rounded-md">
        <h1 class="font-bold text-lg ml-2 mb-4 underline underline-offset-8 ">{{details.properties.name}}</h1>
        <div class="bg-slate-70 p-4 rounded-md">
            <p> Bathrooms Available: {{details.properties.bathrooms}}</p>
            <p>Fee: {{details.properties.fee}}</p>
            <p>Water Available: {{details.properties.water}}</p>
            <p>Manger: {{details.properties.manager}}</p>
            <!-- <p>Coordinates: [{{details.geometry.coordinates}}]</p> -->
        </div>
    </div>
</div>