<!-- Main modal -->
<div id="authentication-modal" tabindex="-1" aria-hidden="true" #modal
    class="overflow-y-auto overflow-x-hidden static translate-x-[-50%] translate-y-[-50%] z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div
                class="draggable-header flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl text-center font-semibold text-gray-900 dark:text-white">
                    Recommendation Query
                </h3>
                <button type="button" (click)="closeModal()"
                    class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="authentication-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
                <form class="space-y-4" action="#">
                    <div>
                        <h1 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">What Air Quality Levels
                            Are Acceptable?</h1>
                        <div>
                            <div class="flex items-center me-4 modal-checkbox"><input
                                    [(ngModel)]="searchQuery.alertLevels['None']" name="none" id="none"
                                    class="legend-icon bg-gray-100 border-gray-300 rounded focus:ring-black dark:focus:ring-white dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                    type="checkbox" value="None"
                                    style="accent-color: #00E400; border: 1px solid black;"><label
                                    class="ms-1 text-sm font-medium text-gray-900 dark:text-white" for="none">No
                                    Alerts ({{ trailheadRecommendationData['none'].length }})</label></div>
                            <div class="flex items-center me-4 modal-checkbox"><input
                                    [(ngModel)]="searchQuery.alertLevels['Blowing Dust']" name="dust" id="dust"
                                    class="legend-icon bg-gray-100 border-gray-300 rounded focus:ring-black dark:focus:ring-white dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                    type="checkbox" value="Dust"
                                    style="accent-color: #fff200; border: 1px solid black;"><label
                                    class="ms-1 text-sm font-medium text-gray-900 dark:text-white" for="dust">Blowing
                                    Dust Alerts ({{ trailheadRecommendationData['dust'].length }})</label></div>
                            <div class="flex items-center me-4 modal-checkbox"><input
                                    [(ngModel)]="searchQuery.alertLevels['Fine Particulate']" name="fine" id="fine"
                                    class="legend-icon bg-gray-100 border-gray-300 rounded focus:ring-black dark:focus:ring-white dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                    type="checkbox" value="FineParticulate"
                                    style="accent-color: #FFA500; border: 1px solid black;"><label
                                    class="ms-1 text-sm font-medium text-gray-900 dark:text-white"
                                    for="fine">Fine Particulate Alerts ({{
                                    trailheadRecommendationData['fine'].length }})</label></div>
                            <div class="flex items-center me-4 modal-checkbox"><input
                                    [(ngModel)]="searchQuery.alertLevels['Ozone']" name="ozone" id="ozone"
                                    class="legend-icon bg-gray-100 border-gray-300 rounded focus:ring-black dark:focus:ring-white dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                    type="checkbox" value="Ozone"
                                    style="accent-color: #ff4242; border: 1px solid black;"><label
                                    class="ms-1 text-sm font-medium text-gray-900 dark:text-white"
                                    for="ozone">Ozone Alerts ({{
                                    trailheadRecommendationData['ozone'].length }})</label></div>
                            <div class="flex items-center me-4 modal-checkbox"><input
                                    [(ngModel)]="searchQuery.alertLevels['Multiple']" name="multiple" id="multiple"
                                    class="legend-icon bg-gray-100 border-gray-300 rounded focus:ring-black dark:focus:ring-white dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                    type="checkbox" value="Multiple"
                                    style="accent-color: #8B295A; border: 1px solid black;"><label
                                    class="ms-1 text-sm font-medium text-gray-900 dark:text-white"
                                    for="multiple">Multiple Pollutants Alerts ({{
                                    trailheadRecommendationData['multiple'].length }})</label></div>
                        </div>
                    </div>
                    <div>
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="distInput">Max
                            Distance from
                            Selected Trailhead
                            (miles)</label>
                        <input type="number" name="maxDistanceMi" [(ngModel)]="searchQuery.maxDistMi" id="distInput"
                            [min]="0" [value]="searchQuery.maxDistMi" (change)="maxDistChanged()"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" />
                    </div>
                    <div class="mt-4 flex justify-end">
                        <button (click)="performSearch()"
                            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Show Recommendations
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>