.map-container {
    height: 100%;
    width: 100%;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

#map {
    height: 100%;
}

.loader-container {
    display: flex;
    justify-content: center;
}

.loader {
    position: absolute;
    top: 37.5%;
    z-index: 1000;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: 25%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
