.map-container {
<<<<<<< HEAD
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 30px;
    margin-right: 30px;
    height: 80vh;
=======
    height: 100%;
    width: 100%;
>>>>>>> 506456dee0a72324c51f310097bd20ff772de337
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

#map {
    height: 100%;
}

<<<<<<< HEAD
@media (min-width: 1024px) {
    .map-container {
        position: absolute;
        top: 50px;
        left: 25%;
        right: 0;
        bottom: 0;
        margin-left: 30px;
        margin-right: 30px;
    }    
}
=======
.loader-container {
    display: flex;
    justify-content: center;
}

.loader {
    position: absolute;
    top: 37.5%;
    z-index: 1000;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: 25%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
>>>>>>> 506456dee0a72324c51f310097bd20ff772de337
