.map-container {
    height: 100%;
    width: 100%;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

#map {
    height: 100%;
}

.loader-container {
    position: relative;
    top: calc(50% - 12.5vh);
    left: calc(50% - 12.5vh);
}

.loader {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 1000;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    height: 25vh;
    width: 25vh;
    transform: translatex(-12.5vh);
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
