<div *ngIf="recommendedTrailheads != undefined" class="bg-gray-300 border-2 border-black">
    <label class="text-center mt-[1rem] ml-[1rem] text-gray-800" for="sidebar-container">Showing {{
        recommendedTrailheads.length - 1}} recommendation(s) of {{ recommendedTrailheads.length - 1 }} total</label>
    <button (click)="clearRecommendations()" class="absolute top-0 right-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6 hover:bg-blue-500 hover:bg-opacity-[0.5]">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
    </button>
    <div id="sidebar-container"
        class="flex flex-col w-full sidebar-container h-[85vh] overflow-y-scroll rounded-sm bg-gray-300">
        <div *ngIf="recommendedTrailheads.length > 1">
            <div class="grid border border-black rounded-md mt-3 w-[95%] ml-auto mr-auto shadow-lg bg-white"
                *ngFor="let trailHead of recommendedTrailheads.slice(1)">
                <!-- <img src="assets/images/trail.jpg" /> -->
                <h1 class="text-lg font-bold mx-2 mt-1">{{trailHead.properties.name}}</h1>
                <p class="description mx-4">Managed by {{ trailHead.properties.manager }} </p>
                <p class="mt-2 mx-4">
                    <svg class="h-6 w-6 text-slate-900" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        style="display: inline;">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>

                    {{ trailHead.properties.distanceFromSelectedMi }} mi from
                    {{ recommendedTrailheads[0].properties.name }}.
                </p>
                <div class="ml-2 mt-2 relative flex flex-row justify-between">
                    <div class="justify-end items-center h-full">
                        <button type="button" (click)="openModal.emit(trailHead)"
                        class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Find
                        Fresher Air</button>
                    </div>
                    <div class="justify-start items-center h-full">
                        <button type="button" (click)="update(trailHead)"
                        class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">View Trailhead</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="recommendedTrailheads.length == 1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-20 m-auto">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.182 16.318A4.486 4.486 0 0 0 12.016 15a4.486 4.486 0 0 0-3.198 1.318M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z" />
            </svg>
            <p class="text-gray-500 text-center">No recommendations matching query</p>
        </div>
    </div>
</div>