@media (max-width: 1024px) {
    .trail-search {
        display: none;
        max-width: 25%;
        margin-top: 20px;
        margin-left: 10px;
    }
}

.trail-search {
    max-width: 25%;
    margin-top: 10px;
    margin-left: 10px;
}

.nav {
    height: 50px;
}

app-map {
    position: absolute;
    top: 70px;
    left: 26%;
    bottom: 25%;
    right: 0;
}

app-recommendation-sidebar {
    transform: translateX(-100%)
}
