@media (max-width: 1024px) {
    .trail-search {
        display: none;
        max-width: 25%;
        margin-top: 20px;
        margin-left: 10px;
    }
}

.trail-search {
    max-width: 25%;
    margin-top: 20px;
    margin-left: 10px;
}