<nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700">
    <div class="flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="assets/favicon.png" class="h-8" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">CDPHE Trail Air
                Quality - ** INTERNSHIP PROJECT NOT FOR PUBLIC **</span>
        </a>
    </div>
</nav>
<form class="max-w-md mx-auto trail-search" (ngSubmit)="false">
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
        </div>
        <input #trailsearch type="search" id="default-search" name="searchQuery" [formControl]="searchControl" (keydown.backspace)="currentSearchQuery = ''"
            class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search Trails" />
    </div>
</form>
<app-sideBar [mapBounds]="currentMapBounds" [searchQuery]="currentSearchQuery" (trailheadSelected)="zoomToTrailhead($event)"></app-sideBar>
<app-descriptor-card [details]="selectedTrailhead" class="absolute top-[75%] left-[26%] w-[65%] p-4"></app-descriptor-card>
<app-map (mapBoundsChange)="notifySidebar($event)" [trailheadSelected]="selectedTrailheadCoordinates"></app-map>