<div *ngIf="activeTrailheads != undefined">
    <label class="text-center mt-[1rem] ml-[1rem] text-gray-500" for="sidebar-container">Showing {{
        activeTrailheads.length > 50 ? 50 : activeTrailheads.length}} result(s) of {{ activeTrailheads.length }} total</label>
    <div id="sidebar-container"
        class="flex flex-col  ml-[1rem] sidebar-container h-[85vh] overflow-y-scroll bg-gray-300 rounded-sm"
        *ngIf="activeTrailheads != undefined">
        <div class="grid border border-black rounded-md mt-3 w-[95%] ml-auto mr-auto shadow-lg bg-white"
            *ngFor="let trailHead of activeTrailheads.slice(0, 50)">
            <!-- <img src="assets/images/trail.jpg" /> -->
            <h1 class="text-lg font-bold mx-2 mt-1">{{trailHead.properties.name}}</h1>
            <p class="description mx-4 ">Managed by {{ trailHead.properties.manager }} </p>
            <p class="mt-4 mx-4">
                <svg class="h-6 w-6 text-slate-900" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    style="display: inline;">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                {{ closestCityCenter[trailHead.properties.feature_id].minDist }} mi from
                {{ closestCityCenter[trailHead.properties.feature_id].minCityCenter.properties.name }},
                {{ closestCityCenter[trailHead.properties.feature_id].minCityCenter.properties.county }} County,
                {{ closestCityCenter[trailHead.properties.feature_id].minCityCenter.properties.state }}
                
            </p>
            <div class="flex flex-row justify-between">
                <div class="mt-4 mx-4">
                    <p>Air Quality Levels:</p>
                    <div class="flex flex-row">
                        <div class="flex  items-center">
                            <p>Today: </p>
                            <div class=" border bordxer-2 h-4 w-4 m-2 rounded-sm" [style.background-color]="trailHead.properties.todayAQI?.color"></div>
                        </div>
                        <div class="flex items-center">
                            <p>Tomorrow: </p>
                            <div class=" h-4 w-4 m-2 rounded-sm" [style.background-color]="trailHead.properties.tomorrowAQI?.color"></div>
                        </div>
                    </div>
                </div>
                
                <div class="justify-self-end mr-4 my-2 self-end  ">
                    <button (click)='update(trailHead)'> <i class=" fa-solid fa-arrow-right"></i> </button>
                </div>
            </div>


        </div>
    </div>
</div>

