<div class="flex flex-col mt-[2rem] ml-[1rem] w-[25%]" *ngIf="activeTrailheads != undefined">
    <div class="grid border border-black rounded-md mb-6 w-auto shadow-lg"*ngFor="let trailHead of activeTrailheads.slice(0, 50)">
        <img src="assets/images/trail.jpg" />
        <h1 class="text-lg font-bold mx-2 mt-1">{{trailHead.properties.name}}</h1>
        <p class="description">{{ trailHead.properties.manager }} </p>
        <p class="mt-2 mx-4">{{ closestCityCenter[trailHead.properties.feature_id].minDist }}</p>
        <div class="justify-self-end mr-4 my-2">
        <button (click)='update(trailHead)'>  <i class=" fa-solid fa-arrow-right"></i> </button>
        </div>
    </div>
</div>

<div  *ngIf="visible" class="relative shadow-2xl">
    <div class="absolute right-[3.5rem] border border-black rounded-md w-[65%] p-4 ">
        <h1 class="font-bold text-lg mb-4 underline underline-offset-8 ">{{details.properties.name}}</h1>
        <div class="bg-slate-70 p-4 rounded-md">
            <p> Bathrooms Available: {{details.properties.bathrooms}}</p>
            <p>Fee: {{details.properties.fee}}</p>
            <p>Water Available: {{details.properties.water}}</p>
            <p>Manger: {{details.properties.manager}}</p>
            <p>Coordinates: [{{details.geometry.coordinates}}]</p>
        </div>

    </div>
</div>

