/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.circle-marker {
    position: absolute;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
  
.custom-icon {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.custom-div-icon {
    background-color: transparent;
    border: none;
  }
  
  .trailhead-centroid {
    text-align: center;
    line-height: 30px;
    /* border-radius: 100%; */
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 2px solid black;
  }

  .centroid-text {
    color: black;
    font-weight: bolder;
  }